// here all the custom classes
@import "bootstrap/dist/css/bootstrap";
// this import allows modification of bootstrap classes


#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container {
  margin-top: 25px;
}
.jumbotron {
  background-image: asset-url('jumbo-image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
.my-card-width {
  width: 66.66%;
}
@media (max-width: 900px) {
  .my-card-width {
    width: 100%;
  }
  #my-form-label, #my-form-field {
    flex-basis: 100%;
    max-width: 100%;
  }  
}

